// =======================================================
// GERAL
// =======================================================

#app {
    font-family: $font-open-sans !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mt-12 {
    margin-top: 6rem;
}
.mt-24 {
    margin-top: 12rem;
}
